<h1> Thêm truyện </h1>
<form action="/add" method="post">
    nhập tên truyện: <input type="text" name="titles">
    <br>
    <br />
    nhập tên tác giả: <input type="text" name="author">
    <br>
    <br />
    nhập số chương: <input type="text" name="chapters">
    <br />
    <br>
    <button type="submit">  add Manga </button>
</br>