<h1> Thêm truyện </h1>
<form action="/update" method="post">
    ID: <input type="text" name="id" value="<%= user.id %>">
    <br>
    nhập tên truyện: <input type="text" name="titles" value="<%= user.titles %>">
    <br>
    <br>
    nhập tên tác giả: <input type="text" name="author" value="<%= user.author %>">
    <br>
    <br />
    nhập số chương: <input type="text" name="chapters" value="<%= user.chapters %>">
    <br />
    <br>
    <button type="submit">  Cập nhật manga </button>
</br>